:root{
    --d: 2000px;
    --locked: grey;
    --unlocked: gold;
    --angle: rotate(60deg);
}

header{
    z-index: 10;
}

h2{
    color: var(--unlocked);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.c_triforce {
    position: absolute;
    width: 200px;
    height: 173.2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid var(--unlocked);
    display: none;
    transform: var(--angle);
    position: absolute;
    transition: top 2s, left 2s, transform 3s;
}

#t1 {
    top: calc(-1 * var(--d));
    left: var(--d);
    border-bottom: 86.6px solid var(--locked);
}

#t2 {
    top: var(--d);
    left: calc(-1 * var(--d));
}

#t3 {
    top: var(--d);
    left: var(--d);
}